<h1>Houses#results</h1>
<p>Find me in app/views/houses/results.html.erb</p>



<h1 style="text-align:center">Search Results for Houses</h1>

<div class="clearfix" style="padding:50px; border-top:5px solid skyblue;">
	<% if !@houses.blank? %>
		<% @houses.each do |house| %>
				<div style="border-bottom:1px solid gray; padding:7.5px 25px;">
						<div style="color:blue;">House</div>
						<div>House ID: <%= house.id %></div>
						<div>House Title: <%= link_to house.title, house_path(house, ttirzdhqpxdahayibtbop: ((params[:search][:tenant_type_id].to_i * 1000 + 533)%713)*27348583937), :target => "_blank" %></div>
						<div>Address: <%= house.address %></div>
						<div>BHK: <%= house.bhk %></div>
						<div>Maximum No. of Beds: <%= house.max_no_of_beds %></div>
						<div>Locality: <%= house.locality.name %></div>
						<div>City: <%= house.locality.city.name %></div>

						<div style="margin: 5px 25px;">
							<div style="color:cadetblue;">Amenities</div>
							<% house.amenities.each do |amenity| %>
								<div><%= amenity.name %></div>
							<% end %>
						</div>

						<% if false %>
							<% @beds = house.beds %>
							<% @beds.each do |bed| %>
									<div style="background-color:lightgray; padding:10px 25px; margin: 10px 0;">
											<div style="color:drakgray;">Bed</div>
											<div>rent: <strong><%= bed.rent %></strong></div>
											<div>security_deposit: <%= bed.security_deposit %></div>
											<div>room_occupancy: <%= bed.room_occupancy %></div>
									</div>
							<% end %>
						<% end %>

				</div>
		<% end %>
	<% else %>
		<h4 style="text-align:center">Sorry, no results matched your search.</h4>
	<% end %>
</div>

