<div style="border-bottom:1px solid gray; padding:7.5px 25px;">
	<div style="color:blue;">House</div>
	<div>House ID: <%= @house.id %></div>
	<div>Address: <%= @house.address %></div>
	<div>BHK: <%= @house.bhk %></div>
	<div>No. of Beds: <%= @house.no_of_beds %></div>
	<div>Allowed Gender: <%= @house.allowed_gender %></div>
	<div>Locality: <%= @house.locality.name %></div>
	<div>City: <%= @house.locality.city.name %></div>

	<div style="margin: 5px 25px;">
		<div style="color:cadetblue;">Amenities</div>
		<% @house.amenities.each do |amenity| %>
			<div><%= amenity.name %></div>
		<% end %>
	</div>

	<% @beds = @house.beds %>
	<% @beds.each do |bed| %>
			<div style="background-color:lightgray; padding:10px 25px; margin: 10px 0;">
					<div style="color:drakgray;">Bed</div>
					<div>rent: <strong><%= bed.rent %></strong></div>
					<div>security_deposit: <%= bed.security_deposit %></div>
					<div>room_occupancy: <%= bed.room_occupancy %></div>
			</div>
	<% end %>
</div>

<div style="text-align:center;">
	<h3>Photos</h3>
	<% @photos = @house.photos %>
	<% @photos.each do |photo| %>
		<div style="margin-top:35px;">
			<div>Photo ID: <%= photo.id %> | House ID: <%= photo.house_id %> | Caption: <%= photo.caption %></div>
			<%= image_tag photo.image.url if photo.image? %>
			<hr style="max-width:400px;">
		</div>
	<% end %>
</div>
