    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h1>LIVE AT HOME</h1>
          <hr/>
          <p>Live in beautifully furnished houses at affordable prices</p><a href="#about" class="hs-btn hs-btn-primary hs-btn-xl page-scroll">How it works</a>
        </div>
      </div>
      <div class="hero__content-footer">
        <div class="col-sm-12">
            <div id="searchbar" class="col-sm-offset-2 col-sm-8">
                <form class="home-search-form">
                    <div class="col-sm-2 form-group">
                        <div class="dropdown">
      <button class="input-primary form-control dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Mumbai
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Mumbai</a></li>
        <li><a href="#">Thane</a></li>
        <li><a href="#">Pune</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Bengaluru</a></li>
      </ul>
    </div>
                        <!-- <label class="sr-only" for="exampleInputEmail3">City</label>
                        <input type="text" class="form-control input-primary" id="exampleInputEmail3" placeholder="City"> -->
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="sr-only" for="exampleInputPassword3">Where do you want to live?</label>
                        <input type="text" class="form-control input-primary" id="exampleInputPassword3" placeholder="Where do you want to live?">
                    </div>
                    <div class="col-sm-2 form-group">
                        <div class="dropdown">
      <button class="input-primary form-control dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Gender
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Boys only</a></li>
        <li><a href="#">Girls only</a></li>
      </ul>
    </div>
                    </div>
                    <div class="col-sm-2 form-group">
                        <button type="submit" class="submit-btn hs-btn hs-btn-primary">Search</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-xs-center">
                        <h2 class="section-heading">Homestayz Homes</h2>
                        <hr class="primary">
                        <p class="text-muted">
                            Homestayz is Mumbai's leading managed home rental marketplace. <br>We take care of end-to-end hassles from searching to moving into a house. Our houses are fully furnished. ZERO brokerage. No maintenance hassles. Online rent payment.</p>
                        <a href="#" class="hs-btn hs-btn-primary hs-btn-xl">Book Now</a>
                    </div>
                </div>
            </div>
    </section>

    <section class="no-padding" id="portfolio">
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="<%= asset_path("portfolio/living_room.png") %>" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-name">
                                        Living Room
                                    </div>
                                    <div class="project-category text-faded">
                                        LCD TV with DTH</br>
                                        5 Seater Plush Sofa</br>
                                        Coffee Table</br>
                                        Dining Table & Chairs</br>
                                        Cutleries
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="<%= asset_path("portfolio/bedroom.png") %>" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Homestayz
                                    </div>
                                    <div class="project-name">
                                        Bedroom
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="<%= asset_path("portfolio/kitchen.png") %>" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Homestayz
                                    </div>
                                    <div class="project-name">
                                        Kitchen
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="<%= asset_path("portfolio/4.jpg") %>" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Category
                                    </div>
                                    <div class="project-name">
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="<%= asset_path("portfolio/5.jpg") %>" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Category
                                    </div>
                                    <div class="project-name">
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="<%= asset_path("portfolio/6.jpg") %>" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Category
                                    </div>
                                    <div class="project-name">
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </section>

    <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-xs-center">
                        <h2 class="section-heading">Why you'll love us</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12 text-xs-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-check-square-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                            <h3>Ready to move-in</h3>
                            <p class="text-muted">
                                Fully furnished houses</br>
                                Standardised services in place</br>
                                No need to find flatmates</br>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 text-xs-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-inr wow bounceIn text-primary" data-wow-delay=".2s"></i>
                            <h3>Affordable</h3>
                            <p class="text-muted">
                                ZERO Brokerage</br>
                                Minimal security deposit</br>
                                No investment in furnishing</br>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 text-xs-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                            <h3>Hassle-free living</h3>
                            <p class="text-muted">
                                All Maintenance handled</br>
                                No long-term lock-in period</br>
                                No end-term charges</br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </section>

