<nav id="mainNav" class="navbar navbar-dark bg-inverse">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
        <%= link_to image_tag("logo.png"), root_path, "class" => "navbar-brand page-scroll" %>
  <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
    <!-- Brand and toggle get grouped for better mobile display-->
<!--
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
-->
    <!-- Collect the nav links, forms, and other content for toggling-->
      
      <ul class="nav nav-pills pull-right">
        <!--lia.page-scroll(href='#portfolio') Phones
        -->
				<% if logged_in? %>
					<li class="nav-item dropdown">
    				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
    				<div class="dropdown-menu">
							<%= link_to "Dashboard", '#', class: "dropdown-item" %>
							<%= link_to "Profile", current_user, class: "dropdown-item" %>
							<%= link_to "Favourites", '#', class: "dropdown-item" %>
      				<div class="dropdown-divider"></div>
							<%= link_to "Logout", logout_path, method: "delete", class: "dropdown-item" %>
    				</div>
  				</li>
				
				<% else %>
				
        <!-- <li class="nav-item"><a class="outline nav-link page-scroll btn-success-outline" data-toggle="modal" data-target=".bd-example-modal-sm">Login</a></li> -->
        <li class="nav-item"><a class="outline nav-link page-scroll btn-success-outline" data-toggle="modal" data-target=".bd-example-modal-sm">List property</a></li>
				
				<% end %>
        
      </ul>
        </div>
    <!-- /.navbar-collapse-->
    </div>
  <!-- /.container-fluid-->
</nav>



<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4>Signup</h4>
        </div>
        <div class="modal-body">
            <%= form_for(HouseListingRequest.new) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
                <div class="form-group">
                    <%= f.label :name, class: "control-label" %>
                    <%= f.text_field :name, required: true, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.label :email, class: "control-label" %>
                    <%= f.email_field :email, class: "form-control" %>
                </div>
                <div class="form-group">
                    <!-- <label for="customer-mobile" class="control-label">Mobile</label>
                    <input type="text" class="form-control" id="customer-mobile"> -->
                    <%= f.label :phone, class: "control-label" %>
                    <%= f.phone_field :phone, required: true, class: "form-control" %>
                </div>
                <%= f.submit "Submit", class: "btn btn-signup btn-primary" %>
            <% end %>
        </div>
    </div>
  </div>
</div>
