<!DOCTYPE html>
<html ng-app="homestayz">
<head>
  <title>Homestayz</title>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Homestayz : Your Property Managers">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
	
	<!-- Base URL for HTML5 - Being used for removing # from Angular routes -->
	<base href="/">

  <!--Custom fonts-->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">

  <!-- jQuery UI for Calculator -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
    <% if current_page?(root_path) %>
        <%= render 'layouts/home_header' %>
    <% else %>
        <%= render 'layouts/header' %>
    <% end %>
    
    <!-- <div class="container"> -->
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>" role="alert">
                <%= message %>
            </div>
        <% end %>
    <!-- </div> -->
    
    <%= yield %>

    <%= render 'layouts/footer' %>
    
    <%= debug(params) if Rails.env.development? %>


</body>
</html>
